<h2 class="text-center">
  Spirituality, gnosticism and theism are not tightly coupled
</h2>

<p>
  Tribes usually engineer their beliefs to be quite comprehensive. Some claim to have the “truth” and as such they feel their
  beliefs should have answers for most, if not all, of life’s moral choices. They also tend to tie these beliefs to a spiritual
  or religious context. In many ways, religion helps people cope with the unknowns. Instead of knowing everything, they can
  shift the weight of life’s uncertainties on to some form of “God’s plan” or karma and use that abstraction to interact
  with the world more easily.
</p>

<p>
  When an individual's identity aligns well with their tribe’s, this approach often times has a positive effect. People enjoy
  a higher quality of life and engage with the world with less fear. However, for those individuals who do not align with
  their tribes beliefs, it can cause the opposite effect.
</p>

<p>
  In a way, we are re-exploring our first tenant, however here we want to emphasis the dynamic nature of challenging one’s
  beliefs. It is more often the case that when one chooses something other than their tribes beliefs, an individual does
  not completely abandon the entire belief system. Instead, they focus on the parts that hurt the most, changing them to
  better suit their needs and keeping the things that work. Choosing what stays and what goes becomes much harder when a
  set of beliefs is presented as a singularity.
</p>

<p>
  Let's instead broadly break up a set of beliefs that are often presented as tightly coupled; spirituality, gnosticism, and
  theism. For the sake of clarity, lets declare the definition of these terms that we will use for the remainder of this
  section:
</p>

<p>
  <strong>Spirituality:</strong> The act of learning, defining, and pursuing one’s deepest values and meanings by which they live.
  The antithesis of spirituality would be materialism.
</p>

<p>
  <strong>Gnosticism:</strong> The belief that one has certain knowledge, especially as it pertains to esoteric understandings. The
  antithesis of gnosticism is agnosticism.
</p>

<p>
  <strong>Theism:</strong> The belief in the existence of a god or gods. The antithesis of theism is atheism.
</p>

<p>
  In all of our definitions, we chose to identify their antitheses. This is because, in addition to these concepts being loosely
  coupled, they are also non-binary. Each term exists on one extreme end of a spectrum. It is rare to find someone
  at the extreme end of one of these spectrums. Instead, people more comfortably live in some spot in the middle, typically
  favoring one side over the other.
</p>

<h4>
  Spirituality and Theism
</h4>

<p>
  Alan Watts gives an excellent perspective on what the soul is:
</p>

<div class="card bg-dark text-light">
  <div class="card-body">
    <blockquote class="blockquote text-center">
      <p class="mb-0">The soul is something which contains the body, [the] body doesn't contain the soul... The soul ... is the entire complex
        of relationships in whose context this organism exists.
        <sup>
          <a href="https://www.youtube.com/watch?v=HxQoa5FqoMY">[1]</a>
        </sup>
      </p>
    </blockquote>
  </div>
</div>

<p>
  He then proceeds to model the soul, explaining that one’s external experiences are intrinsically a part of their identity.
  He makes special note that, the system in which it exists is more than influential to the development of one’s identity.
  It, in fact, defines it. To explore the soul, one must look outwords.
</p>

<p>
  If one were to believe the theistic, Judeo-Christian, view of the soul, Alan Watts’ perspective
  <em>could</em> be perceived to be mutually exclusive. After all, in the religious perspective, God is the Alpha and the Omega,
  he is everything. And to believe that the soul is an intrinsic property of the universe, would be to evaluate ourselves
  as part of God, with the sum of all souls in existence amounting to God himself. Are we to believe that we are God? Religion
  often teaches that, while we should strive to be like God, we are not God. Thus, we demonstrate the danger of tightly coupling
  theism to spirituality.
</p>

<p>
  There are problems with this hypothetical, but this is not to declare that the views of people like Alan Watts are in conflict
  with theistic teachings, but instead to show that by examining these concepts in isolation, we prevent cross contamination.
  We, as individuals, at some point will have to reconcile our discoveries about theism, spirituality, and gnosticism in
  order to build a comprehensive belief system, but it's dangerous to believe that such massively different concepts must
  be a package deal. It can limit our view on the universe and ourselves.
</p>

<p>
  It’s also important to note that these views on spirituality do not require theistic beliefs. One can pursue spirituality
  and theism independently, perhaps favoring one over the other. Two people can share the same spiritual beliefs without
  conflict, all while maintaining two contradicting views on theism. This promotes a much greater sense of acceptance, as
  people can appreciate each other for their complex, diverse identities instead of through a binary lense of friend or foe.
</p>

<h4>
  Theism and Agnosticism
</h4>

<p>
  In the context of the tribes that exist today, spirituality and theism align more often than theism and agnosticism do. Frequently
  Gnosticism is seen as a prerequisite for theism, with various religions making binary claims of truth; it’s either true
  or it’s not. As with spirituality and theism, this binary thinking can limit one’s views on the nature of the universe
  around them.
</p>

<p>
  The thinking that you must know to believe offers a great deal of comfort to some, tying into the practice of shifting the
  burden of knowing what is right to a grand, all-seeing entity. People are usually willing to say they know God exists,
  but will be less comfortable stating they know what he wants. This contradiction often puts people with these thoughts
  into a corner. You can’t accurately state that you know God’s mission to be benevolent when you also concede to not understanding
  it. It also cultivates the ignorant thinking that if one can not claim to know, they have no right to believe. It turns
  into a maze of apologetics and confirmation bias.
</p>

<p>
  If one allows themselves to concede that they do not know God’s nature, and still allow for the belief in God, they liberate
  themselves to make changes to these models more easily. They can adjust their moral code when presented with new knowledge
  and their belief in God does not need to be threatened by it. Similarly, they do no need to choose between what they believe
  their, likely benevolent, God expects of them and their tribe's claims about such a deity. They can afford their fellow man
  the right to their beliefs without threatening their own.
</p>