<h2 class="text-center">
  Agency is an expression of choice, not control
</h2>

<p>
  Agency has been a concept that has confused many a theologen. Where many believe in deterministic model of the universe,
  they often have a difficult time incorporating agency into that model because they conflate agency with control. If we
  decide what happens, then can we not influence the inevitability of what happens next? If the nature of of what will happen
  next is already predetermined, how can one really “choose” anything.
</p>

<p>
  There are other dangers to conflating agency with control. It places undue onus on things that are very much out of our control.
  Lets demonstrate this with an example:
</p>

<div class="card bg-dark text-light">
  <div class="card-body">
    <blockquote class="blockquote text-center">
      It’s late at night and a woman is making her way to her car deep in a city. It’s cold and she wishes to get to her car quickly.
      When she comes to a dark alleyway, she notes that cutting through would significantly reduce the time it would take
      to get back to her car. She’s also very aware of the high crime rate in this part of the city, and that taking the
      alleyway would run a greater risk of being robbed or worse.
    </blockquote>
  </div>
</div>

<p>
  Rather than discuss what the woman should do, let's examine the woman’s capacity to control the situation. The woman certainly
  has the agency to take the alleyway just as much as she does to take the longer, safer route. She can choose. However,
  if she were set upon by a mugger in the alleyway, do we hold her partially responsible for the crime considering she had
  the capacity to choose the potentially safer route? Many would say, “of course not, it’s the mugger, who chose to commit
  the crime, that we hold responsible. He was in control.”
</p>

<p>
  So let’s examine the scenario where the woman had taken the safer route without incident. Was she responsible for not being
  set upon in that instance? Often this scenario isn’t considered as heavily as the former one, but it would seem sensical
  to say, “while she was wise to take the safer route, the non-presence of a criminal element was equally out of her control”.
</p>

<p>
  Think of each of these situations in reverse; her taking the alleyway and getting to her car safely, or her taking the safe
  route and still being set upon. Where is her control in any of these situations? While there is a clear presence of agency,
  control seems oddly absent.
</p>

<p>
  Many would be quick to criticize this perspective as it seems to ignore the alleged control that the mugger has to rob the
  woman of hers. The mugger made a choice to rob the woman, ergo it is really his agency that we should be examining. So
  let’s do that.
</p>

<div class="card bg-dark text-light">
  <div class="card-body">
    <blockquote class="blockquote text-center">
      A man in the city late at night crosses the path of a woman traveling alone. Very quickly, he assesses that she would be
      an easy target to rob. Of course, committing any crime runs the risk of getting caught and he is aware of this, but
      the man needs the money. He must make a choice.
    </blockquote>
  </div>
</div>

<p>
  When the scenario is refamed this way, and we examine it from the man’s perspective, we oddly find that if we walk through
  each path with each possible outcome, the man himself doesn’t actually have much control either. Only a choice. The scenario
  takes on a disturbing similarity to the woman’s. Does he take the risk, or play it safe? He has the capacity to chose,
  but the outcome, in a sense, is predetermined.
</p>

<p>
  The illusion of control stems from one’s own understanding of the determinism in our lives. We balance our rationale with
  past experiences and comprehension of the world we live in. We make a judgement based on what we think is likely to be
  the outcome. Sometimes it doesn’t go as we expect, but we still try to view this as a measure of control, not necessarily
  an absolute form of control. The capacity to predict the determinism of our world.
</p>

<p>
  This capacity to predict the outcome of situations can lead to people making lucrative decisions. Investing in stock or pursuing
  an education can result in a positive influences in people's lives. It leads to innovation and the progression of human
  understanding. In reality, agency is involved in everything we do, and we should certainly take pride and responsibility
  in that. But we are still working in the confines of the deterministic nature of the universe, and any hubris that causes
  us to to take ownership of that determinism can be dangerous.
</p>

<p>
  A common characteristic in trauma is that hubris. It’s when one takes ownership of the control in a situation only to witness
  it ripped away from them. We don’t hold the woman responsible for her own mugging, because we, being very removed from
  the situation, can clearly see she had no control. However, the woman will likely be thinking of her choice. If she could
  go back and take a different route, she might not have been mugged. The man, after getting caught by the police, might
  chalk it up to bad luck, and might leave the introspection at that. He might even view himself as a victim of the police.
</p>

<p>
  Agency is not an expression of control, only choice. Agency is to be owned and cherished and the outcome of the choices we
  make are not. In order to be authentic in one’s dealings, they must reconcile their agency, not their control. Both the
  man and the woman must understand that their choices are theirs to own, and the outcomes are not.
</p>

<p>
  This conclusion will make some uncomfortable. Should the mugger not own the outcome of being caught? Was it not his bad decision
  that got him caught? Had he left the woman alone, he wouldn’t be facing potentially harsh justice. We get caught up on
  the morality of the situation, which is certainly worth considering, but agency is demonstrably not tied anyone’s control.
</p>

<p>
  This understanding can lead to a much healthier outlook on life. By only owning the choice and not the results of our actions,
  it provides a much clearer sense of self comprehension. We can, and should, integrate our experiences with making choices
  into who we are, but by focusing on what is ours to own, it can paint a clearer picture of who we really are. We want both
  the woman and the man to contemplate their choices, not the outcomes.
</p>