<h2 class="text-center">
  Families are built, not inherited
</h2>

<p>
  In the plainest sense of the word, family is the group of people you’re born with. Mothers, Fathers, sisters, brothers, sons
  and daughters. A family has usually been defined as blood. It also is likely the first and oldest form of tribalism. We’re
  naturally inclined to be loyal to our families. It’s been so tied to our species that almost every culture on earth associates
  some sense of honor a duty to protecting the institution.
</p>

<p>
  For many, this serves them well. Their families see after their growth and development and can provide a safe place. It’s
  often the realization that you can’t change who your born with that promotes acceptance in that situation. We must live
  with these people, coexisting in the purest sense. And in a healthy dynamic, we can play with our vulnerabilities in a
  way few other environments can let us.
</p>

<p>
  No dynamic is perfect however, and there are the unfortunate few that suffer from the poor luck in the world. Some are robbed
  of loved ones due to the unforeseen tragedies in life. Others are victims to their parents own abuse. And many are simply
  victims to their own guardians' inherit human flaws. Even with benevolent intentions, a family can still come short when
  meeting the needs of the individual.
</p>

<p>
  While it is certainly a tragedy, the colder reality in the world is that no tribe has the tools necessary to repair a broken
  family. Due to the unique nature of one’s trauma, there can be no single solution that fits everyone’s needs. No external
  authority can dictate what we each need. But there is hope. Knowing that that we can not look to external authorities to
  provide what we need, we should look to build what we need ourselves.
</p>

<h4>
  A nuanced view of family
</h4>

<p>
  Let us start by examining family and determining what we should look for when deciding what to build. First we must discard
  the requirement that family must be blood. The pool of people to draw from is too small to expect to find what we need
  if we look in our family tree alone. If it is determined that the family we are provided is not enough, we need to be willing
  to look elsewhere.
</p>

<p>
  Second, we need to understand what makes a family dynamic so valuable. Often times, the most important aspect of a family,
  is the accepting environment that enables us to be vulnerable. That vulnerability is the cornerstone of enabling us to
  safely exploring who we really are. It keeps the noise of the world at a minimum and allows us to hear our own voice.
</p>

<p>
  And lastly, we must recognize that no system, no matter how meticulously crafted, can perfectly represent our needs. We must
  remember that everyone else is in the same position we are. They have their own unique needs from the world. We must apply
  the same level of acceptance to them as we expect to receive from them. This leaves us with a slightly different, but arguably
  more powerful, view of what a family is.
</p>

<div class="card bg-dark text-light">
  <div class="card-body">
    <blockquote class="blockquote">
        The tribe we craft to best give us a sustainable environment of acceptance.
    </blockquote>
  </div>
</div>