<h2 class="text-center">
  Apostasy is the only way to live an authentic life
</h2>

<p>
  Being true to yourself has always been seen as a noble pursuit. It would be difficult to find a group of people who wouldn’t
  find the effort to be worth spending their lives doing. And the best way to express an honestly authentic life, would be
  to hold nothing back, scouring every inch of your soul to wear on your sleeve.
</p>

<p>
  This endeavour can oftentimes be a painful one, because to accept yourself entirely, you must explore the good and the bad.
  The merits and the foleys, this is what makes a complete person. To only accept one or the other is to be disingenuous.
</p>

<p>
  However, as we all know, the codes and principles that our tribes hold us to can sometimes be stifling. They can cloud our
  self judgment and require us to view a part of ourselves in a dishonest light. A quality that we would otherwise see as
  good can be twisted and molded into a property that we would find shameful or guilty about. Similarly the qualities we
  might want to recognize as flaws can be raised up and praised for conforming to the tribe’s standard.
</p>

<p>
  It is only when we break the mold set by our peers that we can view ourselves in an honest light. To reiterate, we define
  apostasy as:
</p>

<div class="card bg-dark text-light">
  <div class="card-body">
    <blockquote class="blockquote text-center">
      <p class="mb-0">"The act of giving up a part of your tribe's beliefs and choosing your own."</p>
    </blockquote>
  </div>
</div>

<p>
  This act of breaking away from the constraints put on us by our communities and culture is often seen in a negative light.
  In a way, its is apostasy. However we can’t properly assess ourselves without the act of apostasy. Therefore it becomes
  an essential part of authentic living.
</p>