<h2 class="text-center">
  Taboo’s are the first things that should be explored in life
</h2>

<p>
  Taboos are the part of a tribe's moral code that are deemed too dangerous to tread. Not only is the practice of taboo’s discouraged,
  but the thought surrounding them is as well. In a way, many tribes condition their membership to fear taboos. This can
  cause some strange feelings around them. There seems to be a long standing myth that the exploration of these topics will
  inevitably lead to an individual practicing the taboo in question. In cases where the taboo is a natural part of the human
  experience (e.g. sex) these can turn into self-fulfilling prophecies.
</p>

<p>
  It can also damn any effort to mitigate the dangers of practicing taboos. In the case of sex, the fear of discussion can
  lead to the lack of education around the topic. There are many cases where the lack of discussion of proper birth control leads to an increase
  in teen and unwanted pregnancies. Despite these beliefs, education seems to be the best tool to mitigate the dangers seen
  in practicing taboos. When children receive a more comprehensive education about sex, we actually see declines in the damaging
  things that can come with sex.
</p>

<p>
  Taboos seem to stem from the conflation of the taboo practice with their, sometimes negative, consequences. Correlations
  are easy to spot and tribes are quick to tightly couple the negative results of a taboo with the taboo itself. This creates
  a fear response to something that might not always have the foregone conclusion that is imagined.
</p>

<p>
  Ultimately this fear is misplaced, and can cause more harm than good. The misunderstandings, or simply the lack of understanding,
  surrounding taboos can cause significantly higher rates of a bad outcome, and further, it creates massive shame and guilt
  complexes around the issue that can be immensely difficult to navigate. The emotional fallout of these scenarios can further
  exacerbate the already negative effects. It can also cause one to overlook the potential positive effects of practicing,
  or simply exploring, a taboo.
</p>

<h4>
  The myth of thought crime
</h4>

<p>
  As stated above, there is a common belief that fantasy about taboos leads to the practice of said taboo. The idea being that,
  rumination increases the likelihood of embracing a concept. This has been the opinion of some well spoken or well known
  philosophers:
</p>

<div class="card bg-dark text-light">
  <div class="card-body">
    <blockquote class="blockquote text-center">
      <p class="mb-0">
        He who fights with monsters should be careful lest he thereby becomes a monster. And if thou gaze long into an abyss, the
        abyss will also gaze into thee. - Nietzsche
      </p>
    </blockquote>
  </div>
</div>

<p>
  The mind is often the safest place to explore taboos, despite the common belief that it is where the damage related to taboos
  starts. People can construct rich fantasies that help them explore a topic without having to endure the, often times, permanent
  consequences of their actions. We can actually see this effect today in two places that have oftentimes been criticized
  as a form of thought crime: porn and violence in the media and video games.
</p>

<p>
  Taking first porn as an example, tribes often declare that engaging the fantasy accompanying the consumption of porn, an
  individual is more likely to demonstrate more sexist attitudes and a broader acceptance of rape or abuse. They cite many
  depictions of rape and/or abuse of women in the porn industry, almost portraying this content as an instruction manual
  for deviancy. However, we fortunately have invested in studying this phenomenon to see if the theory is valid. The findings
  actually portrayed the opposite result than what was expected
  <sup>
    <a href="https://www.researchgate.net/publication/281303513_Is_Pornography_Really_about_Making_Hate_to_Women_Pornography_Users_Hold_More_Gender_Egalitarian_Attitudes_Than_Nonusers_in_a_Representative_American_Sample">[1]</a>
  </sup>. It found a correlation between porn consumption and egalitarian attitudes. Similar studies have been done on violent
  video games
  <sup>
    <a href="http://interpersonalresearch.weebly.com/uploads/1/0/4/0/10405979/ppmc_-_vvgs_and_real-world_violence.pdf">[2]</a>
  </sup>. We actually see that these fantasies seem to corelate to a decrease in the deviant behavior they're suppose to encourage.
</p>

<p>
  These are blatant counter-examples of the concept that the thought leads to the action. Instead, we should view these fantasies
  as an exercise to prevent mental and moral atrophy. It can be analogous to physical exercise. We tax our minds, pushing
  it places it hasn't been before, to build up strength and resiliency. It’s also worth noting that these fantasies are practiced
  in such a way that they are safe. Witnessing or consuming violent media is not the same as acting these things out in the
  real world. They can provide a safe framework for people to truly understand themselves.
</p>

<h4>
  What about the taboo taboos?
</h4>

<p>
  Given the examples listed above, many have been very outspoken about changing what is taboo. They would reclassify sexual
  and violent media in a place separate from taboo. While this approach does help people to explore those topics in a safer
  way and does adjust a tribe’s moral code to a healthier place, it’s worth considering whether we should abandon the current
  attitude of how we treat taboos altogether. It seems fruitless to say, let people explore the safe taboos, but they should
  avoid the others. How are we to know which taboos are safe and which are not if we don’t explore them all?
</p>

<p>
  Many topics will likely remain taboo indefinitely. Cannibalism, slavery, torture, and a whole host of other nefarious acts
  come to mind. If we do believe that the mind should be the safest place to explore taboos, then entertaining fantasies
  about them can prove to be a constructive exercise. It helps us explore just why we might find a practice immoral, and
  provide a much more resilient moral code to help us avoid what we find to be the damning parts of taboos.
</p>

<p>
  Further, it can help us decouple the practice from the context. If we understand the act and the perception of taboo are
  related, but not one in the same, we can evaluat them indepenantly. If it is the context we fear, and not the action, that
  can profoundly impact our view on the taboo. This comprehension can not come about without fantasy, and to discourage such
  fantasies creates greater feelings of mystery and romance rather than a sense of security about one’s own beleifs.
</p>

<p>
  So what can this fantasy look like? Often times when you first examine a taboo, it’s uncomfortable. These actions which
  always viewed as abominable, you’re now imagining doing, maybe even enjoying. To properly entertain the fantasy, one must
  imagine themselves participating in the taboo. We’re conditioned to view the act as repulsive, and we might have a compulsion
  to focus on what we view as vulgar about the act. But it’s important to view it in a more complete way. How would you prepare
  for it? What do you imagine the experience to be? Under what circumstances would you do it willingly? If you could remove
  all of the perceived negative effects of such an action, would you do it just to satisfy your curiosity?
</p>

<p>
  This whole exercise can feel morbid, and for good reason. Even after the fantasy, it’s still perfectly acceptable to view
  a taboo as wrong. The exercise isn’t designed to change one’s moral view of a taboo, it’s to help them navigate it. They
  will come from the experience with a much better understanding of why. You’ll find that when you start to talk about taboos,
  most people haven’t really thought about them, or why they’re bad. And after the fantasy, people can be more secure in
  their decision, whatever it may be.
</p>