<h2 class="text-center">
  Morality is relative, not absolute
</h2>

<p>
  Oftentimes tribes carry the banner of being a moral compass. They can provide excellent frameworks for their communities
  to follow that can kickstart the evolution their youths’ moral frameworks. These are often times very safe and constrained
  moral frameworks, aimed at avoiding life’s common mistakes and steering one away from grievous crimes and sins. As the
  world has matured, we’ve seen a lot of these moral codes take on common tenets; don’t murder, don’t steal, don’t lie. And
  this has resulted in a lot of commonality amongst the world’s diverse set of cultures.
</p>

<p>
  While this moral framework can be an excellent kickstarter for a tribe’s members to start with, it oftentimes becomes insufficient
  for the individual’s spiritual needs later in life. They become plagued with paradoxes and cognitive dissonance. This can
  be epitomized by classic parables such as the man who steals a loaf of bread to feed his family or someone who slays another
  in self defense. When these sorts of moral questions become common enough, tribes will often refactor their moral code
  to better accommodate these edge cases.
</p>

<p>
  However, it’s important to note that no single moral code can cover all cases for an individual. It is unavoidable in life
  to experience a scenario where these moral codes simply do not have the answer, and one must choose an option on instinct
  alone. It is also almost universally the case that these instincts can, sometimes, lead us awry.
</p>

<p>
  Tibes will be eager to identify these cases, pick them apart, and unapologetically come to the conclusion that it was a lack
  of adherence to their moral code that resulted in a negative outcome. They will do this despite having the advantage of
  hindsight and several degrees of separation from the experience.
</p>

<h4>
  The problem of absolute morality
</h4>

<p>
  So what is one to do when they encounter these situations not outlined by their prescribed moral code? One option would be
  to conclude that they were wrong and that it was in fact their misunderstandings of the moral code that lead to their demise.
  They can then penitently own the consequences and commit to applying what they’ve learned to future experiences.
</p>

<p>
  Another common path people tread, is to claim ignorance. They didn’t know any better, and had they, they would have chosen
  the “right” path. They absolve themselves of any wrongdoing, while accepting that what happened was “wrong”. They can then
  move forward without guilt or shame and, hopefully, once again integrate their experience with future scenarios.
</p>

<p>
  The problem with these two approaches is that they completely fall apart when one’s instinct leads them to make a choice
  against the moral consensus that turns out to work in their favor. The man who steals bread to feed his family and never
  gets caught might believe his choice to be a moral one. And the person who kills another in self defence, when faced by
  a public outcry that the life they took was more valuable than their own, might condemn their own choice.
</p>

<p>
  Furthermore, without feedback from their tribe, the instinctual choices one makes once again become confusing and unclear.
  How are you to measure the morality of your choice when you have nothing to measure it against? These evaluations become
  impossible when no standard of measurement is provided.
</p>

<h4>
  The solution of relative morality
</h4>

<p>
  Understanding that one can not have an omniscient understanding of the world, they should discard this absolute view of morality.
  Instead, view morality as the sum comprehension of one’s own experiences. Their instinct becomes their moral code, and
  thus they can measure the effect of their choices against their own journey through life. Each choice becomes another understanding
  that one can add to their own internal catalog of moral and amoral examples. Without the need for a tribes validation,
  one can work to build a sense of morality that is true to themselves and not some standard put forward by their forefathers.
</p>

<p>
  This will invariably create the problem that each individual will have their own moral code, and those codes might not always
  align. This might cause societal problems, where no one can be in the right or in the wrong. Often this scenario is cited
  by tribes in defense of their rigid adherence to a draconic moral code. They will make the claim that if everyone adhered,
  no one would be wrong.
</p>

<p>
  However, it is important to note that problems of misaligning moral codes does not disappear in this framework. These problems
  remain with or without absolute morality. And the societal pressure that comes from fear of retribution can dominate the
  individuals sense of responsibility, resulting in further amoral actions. It removes the ownership of the action and places
  the onus of justice on the tribe, not the individual.
</p>

<p>
  What the relativistic approach provides is peace of mind and an agile mindset. Individuals can course correct their own moral
  code more quickly when they have the agency to dictate what it is. When one makes an instinctual decision and the result
  is undesirable, and individual does not need to wait for validation or run the risk that their judgement will be polluted
  by dogmatic or archaic beliefs. They can act immediately to repair the mistake and take responsibility for their action.
  When the instinctual choice yields success, they can own their success and move forward with the validation and reinforcement
  that they were not only true to themselves, but have built a model of morality that works for them. The ownership of one’s
  moral code also instills a stronger sense of responsibility and a spirit of transparency with their fellow man.
</p>