<h2 class="text-center">The Apostate's Code</h2>

<h4>What is the Apostate's Code?</h4>

<p>
  The world has never before been as connected as it is today. All around us we can find a veritable cornucopia of rich cultures,
  communities, and groups, each being very distinct from one another. However, it’s not uncommon for one to feel isolated
  from the world. Invariably we all find ourselves in a place all our own, and the ensuing internal conflict can sometimes be too
  much to bear.
</p>
<p>
  Just as the communities around us can be immensely diverse, the temperaments, beliefs, and attitudes of their members can
  be just as varied. Ironically, we celebrate the differences in communities, but not the diversity in individual identities.
  Each community has its own set of rules or code of conduct that can sometimes take on a dogmatic requirement of obedience
  and adherence for its members.
</p>
<p>
  For some in these communities, this adherence and obedience to a community's beliefs can be a boon to their lives, uplifting
  them and helping them reach their fullest potential. However, a significant amount of their memberships are stifled.
  Conditioned to act, speak and even think a specific way that often times goes against their very identity, these souls
  often find themselves confused and hurt.
</p>
<p>
  The Apostate’s Code hopes to offer a robust set of insights aimed at helping those who find themselves lost in their own
  cohort, and aims at doing it such a way that they can find a sense of peace no matter the culture they find themselves
  in, now or in the future.
</p>

<h4>Why is it called the Apostate's Code?</h4>

<p>
  Often times you will find the most dogmatic beliefs tied to two institutions; religion and politics. However, dogmatic beliefs
  can be found everywhere, even in places we haven’t traditionally criticized for it. Academia, the workforce, and activism
  are not exempt from forms of tribalism. Divergence from these beliefs is often times seen as one of the most grievance
  sins a member of these institutions can commit. They even have a word for it, apostasy.
</p>

<div class="card bg-dark text-light">
  <div class="card-body">
    <blockquote class="blockquote">
      <p class="mb-0">The act of giving up your religious or political beliefs and leaving a religion or a political party</p>
    </blockquote>
  </div>
</div>

<p>
  Or as we choose to define it:
</p>

<div class="card bg-dark text-light">
  <div class="card-body">
    <blockquote class="blockquote">
      <p class="mb-0">The act of giving up a part of your tribe's beliefs and choosing your own.</p>
    </blockquote>
  </div>
</div>

<p>
  Even though a given institution as a collective might hold strictly to its principals, the members often have diverse opinions.
  Each member will usually have anecdotal evidence for believing what they do. Unfortunately, it is often the case that these
  groups require an all or nothing adherence to its beliefs, and will ostracize any who speak out against any part of its
  doctrine. It doesn’t take much to be an apostate.
</p>

<h4>Am I an apostate?</h4>

<p>
  One of the core tenets of the code, as you will see, is that in order to be an authentic self, one must reject some part
  of their tribe's beliefs. In this way, it would be easy to say that anyone who pursues self actualization would be an apostate
  under this definition. If you’re reading this, yea, you’re probably an apostate.
</p>

<p>
  But it’s also important to remember that we live in a nuanced time and we likely need to have nuanced views. This new form
  of apostasy is something to be embraced rather than feared. A neo-apostasy, if you will. If apostasy is essential for an
  authentic life, and if an authentic life is important for someone’s quality of life, then it stands to reason that rejection
  of tribalistic beliefs in favor of a greater sense of identity would be worth pursuing.
</p>

<h4>What are the tenets?</h4>

<div>
  <a *ngFor="let tenet of tenets; let i = index" class="dropdown-item" href="javascript:void(0)" [routerLink]="tenet.route">
    <strong>Tenet {{i + 1}}:</strong> {{tenet.title}}</a>
</div>