<h2 class="text-center">
  Striving for perfection is foley
</h2>

<p>
  A secondary consequence to the idea of absolute morality is the concept of perfection. It’s rare to find one value espoused
  without the other. If there is one truth, then it is easy to conceive of a quintessential example of it. It is oft taught
  by our tribes that it is something to aspire to. Something noble beyond compare. Even if one were to come close, it would
  be so far beyond the status quo that few could rival the accomplishment.
</p>

<p>
  Perfection can also be viewed in isolation from morality. In a world where we all seek to quantify everything, the numbers
  we produce can also create the illusion of a perfect idea. No more death, no more pain, no more suffering. These are all
  examples of perfect ideals. Perfection is a concept that is oddly easy to conceive, but massively difficult to put into
  practice.
</p>

<p>
  People want to believe they are working towards something. This ideal of progression in life contributes to this. We get
  bigger paychecks, more friends, and stronger bodies. We see the quantifiable nature of life and want to add more, count
  higher. It drives many people to push themselves harder and accomplish more. But where is the end? If the goal is perfection,
  can we ever be saited by our efforts?
</p>

<p>
  A parallel can be drawn between perfection and infinity. Both represent something that we can conceptualize, but both are
  equally hard to represent. Progress towards perfection can be analogous to counting to infinity. You can get pretty high,
  but no matter how large of a number you think of, there’s always a bigger one. The truth is, no one can ever achieve perfection.
</p>

<h4>
  Perfection's preceived value
</h4>

<p>
  An argument is often made that as long as progress is made, striving for perfection still holds value. Even if we can’t attain
  it, the effects of the pursuit will always validate the effort. Many will cling to this concept, as it gives them validation
  that to change course is foley. They follow a pattern of confirmation bias and sunk costs that keep them rigid in their
  beliefs. And this is where the true danger lies.
</p>

<p>
  The world changes, tribes change, and individuals change. Our universe is ever-evolving, and as such, we as a species need
  to adapt. And now, more than ever, that change is happening faster. Rigid thoughts, such as those surrounding the concept
  of perfection, will inhibit change where it is needed. Take, for example, the values our world has assigned to the working
  class. It was not that long ago that most people that ever lived dedicated their efforts to the cultivation of food. Man
  came to understand the concepts behind agriculture and the domestication of animals. Come the turn of the 20th century
  we saw a massive shift in the working world to mass production and the economies of scale. A paradigm shift happened, where
  people changed their idea of perfection from the excess of food, to the excess of products. Those who clung to the former
  idea of perfection were left behind, shadowed by the innovation of the new world. Those who adapted survived.
</p>

<p>
  We now see a similar shift in the idea of perfection in the working world. Instead of an excess of products, an excess of
  ideas is what is deemed as perfect. And the change in that paradigm happened much more quickly this time around. Only a
  short 100 years later and we’re already moving the goalpost. If this pattern continues, and it has, paradigms around what
  perfection is will change within a generation. Maybe even multiple times.
</p>

<h4>
  Hope behind abandoning perfection
</h4>

<p>
  This fundamental truth behind the folies of perfection seems grim. But one should not see the futility in striving for perfection
  as evidence of wasted effort. In fact, such a realization should emphasize how important effort really is. The path to
  perfection is infinitely far away. But when we look back, what we can quantify is the progress we’ve made in life. This
  introspection provides valuable insight into just what we are capable of in the world, and can be used to reinforce the
  efficacy of our efforts. It can also help us reflect on the costs of such efforts. Costs that we might not have otherwise
  considered. It shows us what our values have been, and what they could have been.
</p>

<p>
  Conceptually, perfection also blinds us to the opportunity that can wait for us when we change direction in life. A sort
  of tunnel vision forms when we formulate a ‘perfect’ image of what we want. It can blind us to the potential that comes
  from change in life. This understanding, when combined with our reflection on our past path, can help one adjust their
  values and goals in life to better represent their identity. Because life is iterative, our identity will change often,
  and this reflexive approach to life can help us best represent who we are at the various stages in life, instead of calcifying
  and stagnating our world view.
</p>