<h2 class="text-center">
  Life is iterative, not progressive
</h2>

<p>
  In modern life we’re often conditioned to believe we are working towards some greater goal. Businesses strive for increased
  income and wealth. Churches seek more awareness and acceptance of their moral teachings. Academia seeks to expand its knowledge.
  Governments seek to increase their power and influence. Various metrics and milestones are established to measure this
  progress, and we as individuals are encouraged to enact these progressive movements. We should be wealthier, more influential,
  more accepted. Regression in these areas is seen as a failure, both for the individual and for the tribe. This can instill
  the dangerous perception that our lives are equally progressive.
</p>

<p>
  As this concept of progress is fed, individuals will place a higher emphasis on their standing next to their fellow man (e.g.
  “I’m more physically fit than her” or “I make less money that my peers”). It places an artificial value on these metrics
  that serves to only confuse someone into thinking that progression is the only path forward. Tribes construct a rich narrative
  for how this progression in life should look. They model a complex, optimal path for people to pursue to realize success
  in your life. For many places in the world, this will take the form of completing grade school, getting a degree, building
  a career, getting married and having children. It paints a romanticised view of how our lives should look, and condemns
  divergent behaviour.
</p>

<p>
  The effect on many is that they fall victim to the promises of happiness and success of these fantasies. Everyone wants to
  be happy in life, so when a plan to attain it is presented, most trust the authorities in their life to have their interests
  at heart. What these fantasies fail to take into account is the changing nature of human identity. As each stage of our
  life is traversed, we often gain unique and invaluable insights that fundamentally change who we are and what we want.
  If we stay true to this vision of progress, we might fail to course correct in life.
</p>

<p>
  This can be enacted in the concept of a midlife crisis. These poor souls are made promises about what their life will look
  like when they meet the milestones laid before them. Despite even the most dogmatic adherence to the model they are given,
  they still find themselves unhappy. Even during the crisis they play out this fantasy by excessive spending and reckless
  inhibitions. They were promised success and they want what the feel is owed.
</p>

<p>
  In fact, most crises in life follow this format to some extent. A crisis of faith is when someone encounters a view on religion
  that conflicts heavily with what they learned in sunday school as a child. A crisis of age is the realization that a long
  and optimistic future is no longer available to them. An existential crisis is where one realizes how little effect their
  actions have on the universe. Every crisis is based on the promise of something never realized. And these crises are unavoidable
  in life.
</p>

<h4>
  Looking to modern innovation
</h4>

<p>
  Instead of viewing life as long-term progression, we should instead view it as regular iterations. Each iteration being a
  new person with a new identity and values. You are no longer the same person as you were ten years ago, and in ten more
  years, the person you are now will cease to exist. This iterative view isn’t unique to philosophy. Interestingly enough,
  we can look to engineering for an elegant solution.
</p>

<p>
  As software engineering began to become relevant in the world, a classical progressive model was applied to project management.
  We now call this approach a waterfall methodology. These projects would be meticulously crafted to meet long term goals
  and every inch of implementation was mapped out. Mapping out a game plan for these projects was an endeavor all on its
  own, and it was made more difficult by the fact that the reception of the final project was largely unknown until the last
  line of code was written. More often than not, a project would suffer scope creep and deadlocks. Many a monumental effort
  would die in development as business needs evolved and changed before any product was launched.
</p>

<p>
  In 2001 a group of engineers published something called the agile manifesto. This simple document put into words the hard
  lessons that many engineers had learned over the years. The emphasizes an approach that focused on short, small, iterative
  steps to development as opposed to the long, drawn out and feature rich approaches of the waterfall methodology. It came
  to be called an agile methodology. Something that allowed for change as well as introspection. It conceded that the end
  result of an effort would largely be unknown until after the implementation.
</p>

<p>
  In recent years, the agile concept has taken on a life of its own. Sadly, it has shifted into a business model more than
  a methodology. However, the original points made about the concepts of agility are still very much valid today, and they
  have applications outside of engineering.
</p>


<h4>
  Living an agile life
</h4>

<p>
  So what does an agile life look like? First, we concede that we must accept we will not know the end results of our efforts.
  College might not get us that dream job we always hoped for. The girl we’ve been dating for a couple weeks might not be
  the one we marry. In general, the end goal should never be the focus of our efforts. We must start will a small, simple
  vector and commit to small simple endpoints. Simply put, first we must try.
</p>

<p>
  Second, we must make room for introspection. After some effort, we must step back and see the result. Don’t measure it against
  some grand ideal, instead focus on what it is. Accept it. It will have parts that we praise and parts that we despise.
  Identify the aspects that were unexpected, and try to understand them. In this step, it is critical to understand who you
  are, at that very moment. The good and the bad. Define the your identity.
</p>

<p>
  Next, abandon that identity. In order to live an agile life, you must recognize that that old self is gone. You are a new
  person, a new identity. Set a new, simple and small vector. Decide where you will go next, and what you seek to accomplish.
  Who will this new person be? And now, you repeat the process all over again.
</p>

<p>
  This last step will likely be the most challenging. It requires change. This new vector might abandon much of what the old
  vector aimed at achieving. It can feel like giving up. It can feel pointless or aimless. But this is the progressive ideal
  speaking to you. Is a very far cry from a failure, it's the acceptance that the world around you is changing and that in
  order to be genuine to yourself, you must change too. This is what it means to live an agile and iterative life.
</p>